/* You can add global styles to this file, and also import other style files */
:root, body, html {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(circle at center, #007a52 0%, #005035 70%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
